@model IEnumerable<DatabaseFirstCar.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>CustomerList</h2>
<div class="d-flex justify-content-end mb-2">
    <a href="@Url.Action("Create","Customers")" class="btn btn-outline-primary">Add New Customer</a>
</div>
<div>
    @foreach (var item in Model)
    {
        <div class="card mb-2">
            <div class="card-header justify-content-between d-flex">
                <div>
                    <img src="@item.Picture" alt="Default" width="80" height="80" class="rounded" /><br />
                    <label class="mr-2"><b>Customer Name :-</b>@Html.DisplayFor(x => item.FullName)</label><br />
                   
                    <label class="mr-2"><b>IsRegular :-</b>@Html.DisplayFor(x => item.IsRegular)</label><br />
                    <label class="mr-2"><b>Total Price :-</b>@Html.DisplayFor(x => item.Price)</label><br />
                    <label class="mr-2"><b>Mobile Number :-</b>@Html.DisplayFor(x => item.MobileNo)</label><br />
                    <label class="mr-2"><b>Date Of Birth :-</b>@Html.DisplayFor(x => item.DateOfBirth)</label><br />
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                    <thead class="table-primary">
                        <tr>
                            <th>ModelId</th>
                            <th>Model Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var qe in item.Links)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => qe.ModelId)</td>
                                <td>@Html.DisplayFor(x => qe.Model.Model1)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <a href="@Url.Action("Edit","Customers",new {id=item.CustomerId})" class="btn btn-warning">Edit</a>_
                <form method="post" action="@Url.Action("Delete","Customers",new {id = item.CustomerId})"
                      onsubmit="return confirm('You want to delete this record')" style="display:inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
</div>

